server/music
.DS_Store
.vscode
*.local.*
!*.local.d.ts
server/uploads/
server/dev.db
node_modules/
dist
dist-tsgo
server/static/
server/static.backup
server/bundle.js
server/bundle.js.map
printdriver/output/
vcpkg/
cookie.txt